In [20]:
import pandas as pd
import csv
import numpy as np

In [21]:
file = "budget_data.csv"

with open(file,newline='') as csvfile:
     csvreader = csv.reader(csvfile)
    
     for row in csvreader:
          print(row[0])

file.head()

Date
Jan-2010
Feb-2010
Mar-2010
Apr-2010
May-2010
Jun-2010
Jul-2010
Aug-2010
Sep-2010
Oct-2010
Nov-2010
Dec-2010
Jan-2011
Feb-2011
Mar-2011
Apr-2011
May-2011
Jun-2011
Jul-2011
Aug-2011
Sep-2011
Oct-2011
Nov-2011
Dec-2011
Jan-2012
Feb-2012
Mar-2012
Apr-2012
May-2012
Jun-2012
Jul-2012
Aug-2012
Sep-2012
Oct-2012
Nov-2012
Dec-2012
Jan-2013
Feb-2013
Mar-2013
Apr-2013
May-2013
Jun-2013
Jul-2013
Aug-2013
Sep-2013
Oct-2013
Nov-2013
Dec-2013
Jan-2014
Feb-2014
Mar-2014
Apr-2014
May-2014
Jun-2014
Jul-2014
Aug-2014
Sep-2014
Oct-2014
Nov-2014
Dec-2014
Jan-2015
Feb-2015
Mar-2015
Apr-2015
May-2015
Jun-2015
Jul-2015
Aug-2015
Sep-2015
Oct-2015
Nov-2015
Dec-2015
Jan-2016
Feb-2016
Mar-2016
Apr-2016
May-2016
Jun-2016
Jul-2016
Aug-2016
Sep-2016
Oct-2016
Nov-2016
Dec-2016
Jan-2017
Feb-2017

AttributeError: 'str' object has no attribute 'head'

In [22]:
    
df_orig = pd.read_csv(file, delimiter = ',')
df_orig.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [38]:
#The total number of months included in the dataset
A_Months = df_orig['Date'].count()
B = int(A_Months)

'86'

In [23]:
#The net total amount of "Profit/Losses" over the entire period
B_ProfitLoss = df_orig['Profit/Losses'].sum()
print(B_ProfitLoss)

38382578

In [ ]:
#make a new column for change from previous number

In [24]:
# The average of the changes in "Profit/Losses" over the entire period
def average(numbers):
    length = len(numbers)
    total = 0
    for number in numbers:
        total += number
    return total/length

print(average(df_orig['Profit/Losses']))

446309.0465116279

In [25]:
#The greatest increase in profits (date and amount) over the entire period
D_Max = df_orig.loc[df_orig['Profit/Losses'].idxmax()]
print(D_Max)

Date             Feb-2012
Profit/Losses     1170593
Name: 25, dtype: object

In [26]:
#The greatest decrease in losses (date and amount) over the entire period
E_Min = df_orig.loc[df_orig['Profit/Losses'].idxmin()]
print(E_Min)

Date             Sep-2013
Profit/Losses    -1196225
Name: 44, dtype: object

In [45]:

answer1 = pd.DataFrame({"Total Months": [B], "Total":[B_ProfitLoss]})
answer2 = pd.DataFrame({"Greatest increase in profits": [D_Max]})
answer3 = pd.DataFrame({"Greatest decrease in losses": [E_Min]}) 

#output_file = open("PyBank_Output.txt", "w")

with open("PyBank_Output.txt", "a") as file:
    file.write("\n Chloe's Answers \n\n")
    answer1.to_csv(file,header=True)
    file.write("\n\n")
    answer2.to_csv(file,header=True)
    file.write("\n\n")
    answer3.to_csv(file,header=True)
 #   B.to_csv(file,header=False)